@{
    ViewData["Title"] = "Home Page";
}

</style>

<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center bg-light">
    <h1 class="display-4">Welcome to Vehicle Manager</h1>
    <p class="lead mb-4">Manage your vehicles and manufacturers with ease.</p>
    <div class="d-flex justify-content-evenly">
        <a asp-controller="VehicleMake" asp-action="Index" class="btn btn-outline-danger btn-lg m-2 shadow-none ">Vehicle Makes</a>
        <a asp-controller="VehicleModel" asp-action="Index" class="btn btn-danger btn-lg m-2 shadow-none ">Vehicle Models</a>
    </div>
</div>